<main class="p-5">
    <div class="card p-5">
        <p id="test">
            Hello world!
        </p>
        <span>
            Test
        </span>
    </div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>

    <div style="margin: 10px 50 px 100px 200px">
        <span>InLine</span>
        <span>InLine</span>
        <span>InLine</span>
        <span class="block">InLine-block</span>
    </div>


</main>