.card > p {
    color: #e5120f;
} 

.card > p {
    color: rgba(193, 31, 85, 0.381); 0 - це прозорість
}

.card > p {
    color: green;
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 1px blue;
}

p:focus,
p:active,
p:hover {
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 1px blue;

    direction: rtl; - напрямок тексту
}

#test{
    color: initial,
    -webkit-text-fill-color: initial;
    -webkit-text-stroke: initial;

    /* writing-mode: vertical-lr; - вирівнювання тексту по вертікалі; */
     /* text-align: center; left right - вирівнювання тексту; */

     letter-spacing: 0.50em; - розтягування тексту;
}

span{
    text-decoration: underline solid red; - лінії по тексту;
}

span:hover{
    text-decoration-color: blueviolet;
    text-decoration-line: line-through;
    text-decoration-style: solid;
}

*{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 900;

    font-display: swap;
}

.block{
    display: inline-block;
    background: goldenrod;
    /* margin: 3%; */
    margin: auto;
    margin-left: 50px;
    width: 250px;
}
