:root {
    --space-s: 8px;
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;

    --color-border: #dee2ed;
    --color-primary: #8a2be2;
    --color-white: #ffffff;
    --color-title: #212529;
    --color-text: #343a40;

    --border-radius-d: 12px;
    --border-radius-s: 4px;


    --weidth-title: 600;
    --weight-text: 400;

    --page-width: 1000px;
}

/* ========================= */

.page {
   background: var(--color-white);
   padding: 0 15px;
   display: flex;
   justify-content: center;
}

.page_content{
    max-width: var(--page-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/* ======================= */

.header{
padding: var(--space-l) 0;
border-bottom: 1px solid var(--color-border);
display: flex;
justify-content: space-between;
}

.logo{
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);
    width: var(--space-l);
    height: var(--space-l);
    border-radius-d: calc(var(--border-radius-d)/2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link{
color: var(--color-text);
font-size: var(--size-d);
text-decoration: none;
line-height: 150%;
}

.nav_link:hover{
    text-decoration: underline;
    color: var(--color-primary);
}

.footer{
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
}

.footer_copyright{
    font-size: var(--size-s);
    color: var(--color-title);
display: block;
margin-top: var(--space-l);
}

.footer_title{
    font-size: var(--space-l);
    color: var(--color-title);
display: block;
margin-bottom: var(--space-l);
font-weight: var(--weidth-title);
}

.main {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 40px;
}

.info {
max-width: 620px;
width: 100%;
background: var(--color-white);
padding: var(--space-l);
display: flex;
flex-direction: column;
gap: 24px;
}

.info_title {
    font-size: var(--space-b);
    font-weight: var(--weidth-title);
    line-height: 120%;
    color: var(--color-title);
}

.info_text {
    font-size: var(--size-d);
    color: var(--color-text);
    font-weight: var(--weidth-text);
}

.form {
    max-width: 340px;
    width: 100%;
    background: #F8F9FA;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-s);
    padding: var(--space-b);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form_input_list {
    display: flex;
    gap: var(--space-m);
    flex-direction: column;
}

.form_input {
    padding: var(--space-xm);
    background: #ffffff;
    border: 1px solid #ced4da;
    border-radius: var(--border-radius-s);
}

.form_input::placeholder {
    color: var(--color-title);
    font-size: var(--size-d);
}

.form_checkbox {
    display: flex;
    gap: var(--space-s);
    align-items: center;
}

.form_checkbox > input {
    border: 1px solid #767676;
    border-radius: var(--border-radius-s);
}

.form_button {
    text-align: center;
    padding: 12px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: calc(var(--border-radius-d)/3);
    transition: opacity 0.7s;
}

.form_button:hover {
    opacity: 0.7;
}

.form_button:active {
    opacity: 0.7;
}

.form_info {
    text-align: center;
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    color: #6c757d;
    padding-top: 18px;
    border-top: 1px solid var(--color-border);
}

.updates {
    width: 100%;
    background: var(--color-white);
    border-radius: var(--border-radius-d);
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
    padding: var(--space-l);
    display: flex;
    flex-direction: column;
    gap: 24px;
    }
    
    .updates_title {
    font-size: var(--size-b);
    color: var(--color-title);
    font-weight: var(--weidth-text);
    padding-bottom: var(--space-m);
    border-bottom: 1px solid var(--color-border);
    }

    .updates_name {
        color: #6c757d;
    }

    .updates_text {
    color: #6c757d;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 10px;
    }
    
    .updates_link {
        color: var(--color-primary);
        font-size: var(--size-s);
        align-self: flex-start;
        text-decoration: none;
        transition-duration: 0.7s;
        transition-property: opacity, border-color;
        border-bottom: 1px solid transparent;
    }
    
    .updates_link:hover {
        opacity: 0.7;
        border-color: var(--color-primary);
    }

    .expirience {
        display: flex;
        flex-direction: column;
        gap: var(--space-l);
        background: #F8F9FA;
    }
    
    .expirience_title {
        font-size: var(--space-b);
        font-weight: var(--weidth-title);
        line-height: 120%;
        color: var(--color-title);
        padding: var(--size-l);
      }

    .expirience_list {
        display: flex;
        justify-content: space-between;
        background: var(--color-text);
        border: 1px solid var(--color-text);
        border-radius: var(--border-radius-d);
        padding: var(--size-b);
    }

    .expirience_content {
        display: flex;
    flex-direction: column;
    gap: var(--space-m);
    }
 
    .expirience_name {
        color: var(--color-white);
        font-weight: var(--weidth-title);
        font-size: var(--color-title);
        padding-bottom: 10px;
    }
    
    .expirience_details {
        color: var(--color-border);
        font-size: var(--size-d);
        line-height: 150%;
    }
  