{{#with data}}
<footer class="footer">
    <div class="footer_link">
        {{#each pages}}
        {{paht}}
        {{name}}
        {{/each}}
    </div>
    <div class="footer_copyright">
        {{copyright}}
    </div>
</footer>
{{/with}}